@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-family: sans-serif;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
